*{
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    margin: 0px;
}

#form1{
    background-color: bisque;
    width: 500px;
    height: 180px;
}

h1{
    padding: 10px;
    text-align: center;
}

form{
    padding-left: 25px;
}

p{
    padding: 5px;
}

#inome, #isobrenome{
    text-align: left;
    width: 300px;
    height: 20px;
}

input#btn{
    position: relative;
    margin: auto;
    height: 25px;
    width: 100px;
}